@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}

h1, p {
    margin: 0;
}

#firstpage {
    background-color: #ebeced;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow {
    max-height: 4em;
    padding-bottom: 1em;
    width: auto;
    height: auto;
}

#name {
    font-family: 'Cormorant Garamond', serif;
    font-size: 8rem;
    margin: 0;
    margin-left: 1em; 
    margin-right: 1em; 
}

.logos {
    width: 6em;
}

a {
    text-decoration: none;
}

#down {
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20em;
}

 #summary {
     width: 30%;
    font-size: 3rem;
 }

#zach {
    display: block;
    max-width: 20%;
    width: auto;
    height: auto;
}
